<div style="text-align:center">
  <div style="width:500px;height:300px">
      <br>
    <input type="text" ng-model="tooltipcontent" placeholder="Enter tooltip text">
    <br><br>
      <button class="btn btn-success btn-width" tooltip="Submit tool tip text">Submit</button>
      <button class="btn btn-danger btn-width" tooltip="Cancel tooltip text">Cancel</button>
  </div>

  <div style="width:500px;height:300px">
      <br>
    <input type="text" ng-model="tooltipcontent" placeholder="Enter tooltip text">
    <br>
    <br>
      <button class="btn btn-success btn-width" tooltip="Submit tool tip text">Submit</button>
      <button class="btn btn-danger btn-width" tooltip="Cancel tooltip text">Cancel</button>
  </div>

  <div [tooltip]="graphicComponent">
    Graphics tooltip here...
  </div>

  <div [tooltip]="templateContent">
      Template tooltip here...
  </div>
  <br><br>
  <ng-template #templateContent>
      <span style="color: black;"><i>Tooltip from ng-template ref</i></span>
  </ng-template>

</div>
