<div class="mycontainer">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="box-header">
                Angular 5 Tooltip Project
            </div>
            <div class="align-justify mycontainer">
                The project is to demonstrate how to develop reusable component and implement in angular project. The following are the features
            </div>
            <ul>
                <li class="padding-10">
                    Custom reusable tool tip and used in Tooltip demo page (tool tip menu link)
                </li>
                <li>
                    Responsive Design (support mobile, tablet, desktop and large screens)
                </li>
                <li class="padding-10">
                    Integrated Bootstarp SAAS with Angular CLI configuration
                </li>
                <li class="padding-10">
                    Used Lasy loading for Tooltip demo page (tool tip menu link)
                </li>
                <li class="padding-10">
                    Used Shared Module for reusable components
                </li>
                <li class="padding-10">
                    Easy to run and deploy the application
                </li>
            </ul>

        </div>
        <div class="col-12 col-md-4 col-lg-4">
            <div class="box-header">
                Installation Guide
            </div>
            <div class="align-justify mycontainer">
                The project is to demonstrate how to develop reusable component and implement in angular project. The following are the features
            </div>
            <ul>

                <li class="padding-10">
                    Easy to run and deploy the application (npm start, npm build)

                </li>
                <li>
                    open command prompt or power shell command and run as administrator and execute the below command
                </li>
                <li class="padding-10">
                    npm install -g @angular/cli
                </li>
                <li class="padding-10">
                    go to the project folder (which contains package.json) in command prompt
                </li>
                <li class="padding-10">
                    nmp install
                </li>
                <li class="padding-10">
                    compile the project ng serve or npm start
                </li>
            </ul>

        </div>
        <div class="col-12 col-md-4 col-lg-4">
                <div class="box-header">
                    About Angulr 5
                </div>
                <div class="align-justify mycontainer">

                        The Angular compiler has been improved to support incremental compilation — This provides faster rebuilds, especially for production builds and builds with AOT. The Angular team has also added features to the Decorators and made it possible to ship smaller bundles by removing whitespace.
                        <br><br>
                        Developers appreciated the new HttpClient (introduced in version 4.3)  so the team is now recommending HttpClient for all applications, and deprecating the previous @angular/http library.
                        <br><br>
                        To update to HttpClient, you’ll need to replace HttpModule with HttpClientModule from @angular/common/http in each of your modules, inject the HttpClient service, and remove any map(res => res.json()) calls, which are no longer needed.
                </div>
            </div>
    </div>
</div>
