
.mycontainer{
    padding:20px;
}
.align-justify{
    text-align: justify;
}
.box-header{
    height: 50px;
    background: #e7e7e7;
    color: rgb(131, 128, 128);
    font-weight: bold;
    padding: 12px;
    text-align: center;
    font-size: 17px;
}
.subsection{
    padding: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.padding-10{
    padding: 10px;
}